<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> 生产环境 -->
</head>
<body>
    <div id="app">
        <p v-if="hours < 12">早上好！</p>
        <p v-if="hours >= 12 && hours < 18">中午好！</p>
        <p v-if="hours >= 18">下午好！</p>
        <p>Hello {{ greetee }} !</p>

        <p v-if="path === '/">处于首页</p>
        <p v-else>正处于{{ path }}</p>
    </div>

    <script>
        var app = new Vue(
            {
                el: '#app',
                data: {
                    hours: new Date().getHours(),
                    greetee: 'world',
                    path: location.pathname,
                },
                created() {
                    // 应用启动时执行
                    console.log("应用启动...")
                }

            }
        )
    </script>
</body>
</html>
